[run]
omit =
  ./venv/*
  */bin/benchbuild*
  */benchbuild/lib/*
  */benchbuild/bin/*
  .venv/*
branch = True
parallel = True

[paths]
source =
  benchbuild/
  */site-packages/benchbuild/

[report]
ignore_errors = True
