[run]
include = */benchbuild/*
omit =
  */benchbuild/lib/*
  */benchbuild/bin/*
branch = True
parallel = True

[paths]
source =
  benchbuild/
  */site-packages/benchbuild/

[report]
ignore_errors = True
