std/
jit/
ext/
raw/
caddy/
log.*
*.log
dump.*
*.profile.out
*.pdf
*.opt*
!Exp.*
*.prbc*
.Rproj.user
*.swp
*.dat
*.dot
*.out
*.epbc
*.pfbc
*.preopt
*.calls
*.pyc
*.time
bmlog-*
/.project
testinputs/
results/
http/
*egg-info*/
