dist: xenial
os:
  - linux
#  - osx
#
language: python
python:
  - "3.7"

addons:
  apt:
    packages:
      - time
      - unionfs-fuse
      - libfuse-dev
      - clang

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov

env:
  - BB_UNIONFS_ENABLE=false BB_PLUGINS_EXPERIMENTS='["benchbuild.experiments.raw", "benchbuild.experiments.empty"]'

script:
  - coverage run -a `which benchbuild` bootstrap -s
  - pytest --cov=./ benchbuild tests
  - coverage run -a `which benchbuild` config view
  - coverage run -a `which benchbuild` project view
  - coverage run -a `which benchbuild` experiment view
  - coverage run -a `which benchbuild` -vvvvv run --full test
  - codecov

branches:
  only:
    - master
