attrs~=21.2
dill~=0.3
Jinja2~=3.0
parse~=1.19
pathos~=0.2
plumbum~=1.7
psutil~=5.8
psycopg2-binary~=2.9
pygit2>=1.2
pygtrie~=2.4
pyparsing~=2.4
PyYAML~=5.4
rich~=10.9
schema~=0.7.4
sqlalchemy-migrate~=0.13
typing-extensions~=3.10.0.2
virtualenv~=20.7
