attrs>=22
dill>=0
Jinja2>=3
parse>=1
pathos>=0
plumbum>=1
psutil>=5
psycopg2-binary>=2
pygit2>=1
pygtrie>=2
pyparsing>=3
PyYAML>=6.0
result>=0
rich>=12
schema>=0
SQLAlchemy>=2
typing-extensions>=4
virtualenv>=20
